@import "tailwindcss";

body{
  background-color: #000000;
  color: white;
}

h1, h2{
  font-family: "Belleza", sans-serif;
}

h3, h4, h5{
  font-family: "Playfair Display", serif;
}



@theme{
  --color-hope-indigo: #2B2258;
  --color-hope-blue: #0B375B;
  --color-hope-aquablue: #007A7A;
  --color-hope-black: #000000; 
  --color-hope-platinum: #96999C; 
  --font-belleza: "Belleza", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

